<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>City Rank | Citizen </title>
</head>
<body>
    <main>
        <nav>
            <div class="nl"></div>
            <div class="nr">
                <a href="/">Home</a>
                <a href="/map">Maps</a>
            </div>
        </nav>
        <div id="page1">
            <div id="pg1-container">
                <div class="complaint-container">
                    <h2>Report Road Issue</h2>

                    <form id="complaintForm" action="/submitComplaint" method="POST" enctype="multipart/form-data">

                        <!-- Road Photo -->
                        <div class="label">
                            <label>Upload Road Photo:</label>
                            <input type="file" id="roadImage" name="roadImage" accept="image/*" required>
                        </div>

                        <!-- Message -->
                        <div class="label">
                            <label>Describe the Issue:</label>
                            <textarea id="message" name="message" placeholder="Explain road condition..." required></textarea>
                        </div>

                        <!-- Location Text -->
                        <div class="label">
                            <label>Road Location (Area / Street Name):</label>
                            <input type="text" id="locationText" name="locationText" placeholder="Enter area name..." required>
                        </div>

                        <!-- Hidden Coordinates -->
                        <input type="hidden" id="latitude" name="latitude">
                        <input type="hidden" id="longitude" name="longitude">

                        <button type="submit">Submit Complaint</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="copywright">
            <p>&copy; <span id="year"></span> ATES Squad. All rights reserved.</p>
        </div>
    </main>
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
            function (position) {
                document.getElementById("latitude").value = position.coords.latitude;
                document.getElementById("longitude").value = position.coords.longitude;
            },
            function (error) {
                alert("Please allow location access to submit complaint.");
            }
            );
        } else {
            alert("Geolocation not supported by this browser.");
        }
        </script>

    <script>
        const currentYear = new Date().getFullYear();
        document.getElementById('year').textContent = currentYear;
    </script>
    <script src="/js/script.js"></script>
</body>
</html>