<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Route Rakshak | Citizen </title>
</head>
<body>
    <main>
        <nav>
            <div class="nl"></div>
            <div class="nr">
                <a href="/">Home</a>
                <a href="/map">Maps</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav>
        <div id="page1">
            <div id="pg1-container">
                <h1>CITIZEN PORTAL</h1>
            </div>
        </div>
        <div id="page2">
            <h2>Top 3 Wards</h2>
            <div id="pg2-container">
                <% topWards.forEach(ward => { %>
                <p>
                    Rank <%= ward.rank %> — Ward <%= ward.wardNumber %> (Score: <%= ward.score %>)
                </p>
                <% }) %>

                <a href="/leaderboard">View Full Rankings</a>
            </div>
        </div>
        <div id="copywright">
            <p>&copy; <span id="year"></span> ATES Squad. All rights reserved.</p>
        </div>
    </main>
    <script>
        const currentYear = new Date().getFullYear();
        document.getElementById('year').textContent = currentYear;
    </script>
    <script src="/js/script.js"></script>
</body>
</html>