
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css">
    <title>Route Rakshak | Admin </title>
</head>
<body>
    <main>
        <nav class="admin-nav">
            <div class="menu-toggle" onclick="toggleMenu()">
                ☰
            </div>
        <div class="logo"><img src="/images/logo.png" alt="">Route Rakshak</div>
        <div class="nav-links" id="navLinks">
            <a href="/admin">Home</a>
        </div>
    </nav>
        <div class="admin-auth-wrapper">
            <div class="admin-auth-card">

                <h1>Route Rakshak</h1>
                <p class="admin-subtitle">Admin Control Panel</p>

                <form action="/admin/login" method="POST">

                    <div class="admin-form-group">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="Enter admin username" required>
                    </div>

                    <div class="admin-form-group password-group">
                    <label>Password</label>
                    <div class="password-wrapper">
                        <input type="password" id="passwordInput" name="password" placeholder="Enter your password" required>
                        <span class="toggle-password" onclick="togglePassword()">👁</span>
                    </div>
                </div>

                    <button type="submit" class="admin-auth-btn">
                        Login to Dashboard
                    </button>

                </form>

            </div>

        </div>
         <div id="copywright">
            <p>&copy; <span id="year"></span> ATES Squad. All rights reserved.</p>
        </div>
    </main>
    <script>
        const currentYear = new Date().getFullYear();
        document.getElementById('year').textContent = currentYear;
    </script>
    <script src="/js/script.js"></script>
</body>
</html>
        